numpy>=2.0,<2.4
scipy>=1.11
matplotlib>=3.8
black>=25.1
corner>=2.2
jupyterlab>=4.0
jupyter-book>=1.0,<2.0
nbclient>=0.10
rippleGW==0.2.1
bilby==2.8.0
jaxgb==0.2.1
astropy==7.2.0
lisaanalysistools==1.2.5
gpubackendtools==0.1.1
eryn==1.2.6
gwpy>=3.0,<4
h5py>=3.11
lalsuite==7.26.15
wdm-transform==0.5.0
